﻿@page "/categories"

<style>
   /*style pour les carrés de couleur */
    .coloredSquare {
        height: 15px;
        width: 15px;
        display: inline-block;
        border-radius: 3px;
        margin-right: 5px
    }
    /* style pour l'option*/ 
    .optionDisplay {
        display: flex;
        align-items: center;
    }

</style>

@if (CatList == null)
{
    <div class="loader-container">
        <Loader></Loader>
    </div>
}
else
{
    <h2>Ajouter une catégorie</h2>
    <div>
        <EditForm Model="Cat" OnValidSubmit="SubmitAsync">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group" style="display:flex;">
                <div>
                    <InputText class="form-control" @bind-Value="Cat.Name_fr" placeholder="Nom français"></InputText>
                </div>
                <div class="form-group" style="margin-left:10px;">
                    <InputText class="form-control" @bind-Value="Cat.Name_nl" placeholder="Nom néerlandais"></InputText>
                </div>
                <div class="form-group" style="margin-left:10px;">
                    <InputText class="form-control" @bind-Value="Cat.Name_en" placeholder="Nom anglais"></InputText>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control mySelect" @bind="Cat.PinColor">
                    <option value="black">Noir</option>
                    <option value="blue">Bleu</option>
                    <option value="gold">Or</option>
                    <option value="green">Vert</option>
                    <option value="grey">Gris</option>
                    <option value="orange">Orange</option>
                    <option value="violet">Violet</option>
                    <option value="yellow">Jaune</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success">Envoyer</button>
            </div>
        </EditForm>
    </div>

    <div>
        <h2>Toutes les catégories</h2>
        <select class="form-control" @bind="selectedId" @onclick="() => GetDescription(selectedId)">
            @foreach (CategoryModel categories in CatList)
            {
                <option value="@categories.Id">@categories.Name_fr</option>
            }
        </select>
        @if(selectedId > 0)
        {
        <div>
            <EditForm Model="ToUpdate" OnValidSubmit="() => Update(ToUpdate)">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group" style="display:flex;">
                    <div>
                        <InputText class="form-control" @bind-Value="ToUpdate.Name_fr" placeholder="Nom français"></InputText>
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <InputText class="form-control" @bind-Value="ToUpdate.Name_nl" placeholder="Nom néerlandais"></InputText>
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <InputText class="form-control" @bind-Value="ToUpdate.Name_en" placeholder="Nom anglais"></InputText>
                    </div>
                </div>
                <div>
                    <select class="form-control mySelect" @bind="selectedCat.PinColor"  >
                        <option value="black">Noir</option>
                        <option value="blue">Bleu</option>
                        <option value="gold">Or</option>
                        <option value="green">Vert</option>
                        <option value="grey">Gris</option>
                        <option value="orange">Orange</option>
                        <option value="violet">Violet</option>
                        <option value="yellow">Jaune</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success">Modifier</button>
                </div>
            </EditForm>
        </div>
        }
    </div>
}