﻿@page "/flobette"


@if (catProductList == null && productList == null)
{
    <div class="loader-container">
        <Loader></Loader>
    </div>
}
else
{ 
    <h1></h1>
    <h3></h3>
    <div>
        <EditForm Model="catProduct" OnValidSubmit="SubmitCategoryAsync">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>
            <div class="form-group" style="display:flex;">
                <div>
                    <InputText class="form-control" @bind-Value="catProduct.Name_fr" placeholder="Nom français"></InputText>
                </div>
                <div class="form-group" style="margin-left:10px;">
                    <InputText class="form-control" @bind-Value="catProduct.Name_nl" placeholder="Nom néerlandais"></InputText>
                </div>
                <div class="form-group" style="margin-left:10px;">
                    <InputText class="form-control" @bind-Value="catProduct.Name_en" placeholder="Nom anglais"></InputText>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-success">Envoyer</button>
            </div>
        </EditForm>
    </div>

    <div>
        <h2></h2>
        <select class="form-control" @bind="selectedId" @onclick="() => GetDescription(selectedId)">
            <option value="0"></option>
            @foreach (CategoryProductForm categories in catProductList)
            {
                <option value="@categories.Id">@categories.Name_fr</option>
            }
        </select>
        @if (selectedId > 0)
        {
            <div>
                <EditForm Model="catToUpdate" OnValidSubmit="() => Update(catToUpdate)">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <ValidationSummary></ValidationSummary>
                    <div class="form-group" style="display:flex;">
                        <div>
                            <InputText class="form-control" @bind-Value="catToUpdate.Name_fr" placeholder="Nom français"></InputText>
                        </div>
                        <div class="form-group" style="margin-left:10px;">
                            <InputText class="form-control" @bind-Value="catToUpdate.Name_nl" placeholder="Nom néerlandais"></InputText>
                        </div>
                        <div class="form-group" style="margin-left:10px;">
                            <InputText class="form-control" @bind-Value="catToUpdate.Name_en" placeholder="Nom anglais"></InputText>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Supprimer la catégorie</label>
                        <button class="@(catToUpdate.IsDeleted ? "btn btn-success" : "btn btn-danger")" @onclick="(() => SoftDelete(catToUpdate.Id))"><i class="@(catToUpdate.IsDeleted ? "fas fa-history" : "fas fa-trash")"></i></button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-success">Modifier</button>
                    </div>
                </EditForm>
            </div>
        }
    </div>
    <h1>Les plats</h1>
    <h3>Créer un plat </h3>
    <NavLink href="/flobette/add">
        <button class="btn btn-outline-info">Ajouter un nouveau plat</button>
    </NavLink>
    <h3>Modifier un produit</h3>
    <select class="form-control" @bind="selectedCatId" @onclick="() => SelectCategory(selectedCatId)">
        <option value="0">-- Sélectionner une catégorie --</option>
        @foreach (var item in catProductList)
        {
            <option value="@item.Id">@item.Name_fr</option>
        }
    </select>
    @if (selectedCatId != 0)
    {
        <select class="form-control" @bind="selectedProduct">
            <option></option>
            @foreach (FlobetteForm prod in productList.Where(x => x.Category_Id == selectedCatId))
            {
                <option value="@prod.Id">@prod.Name_fr</option>
            }
        </select>
    }
    if (selectedProduct > 0)
    {
        <div>
            <EditForm Model="productToUpdate" OnValidSubmit="() => UpdateProduct(productToUpdate)">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <ValidationSummary></ValidationSummary>
                <div class="form-group" style="display:flex;">
                    <div>
                        <InputText class="form-control" @bind-Value="productToUpdate.Name_fr" placeholder="Nom français"></InputText>
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <InputText class="form-control" @bind-Value="productToUpdate.Name_nl" placeholder="Nom néerlandais"></InputText>
                    </div>
                    <div class="form-group" style="margin-left:10px;">
                        <InputText class="form-control" @bind-Value="productToUpdate.Name_en" placeholder="Nom anglais"></InputText>
                    </div>
                </div>
                <div class="form-group">
                    <InputNumber @bind-Value="productToUpdate.Price"></InputNumber>
                </div>
                <div class="form-group  mt-3">
                    <select class="form-control" @bind="selectedCatId">
                        @foreach (CategoryProductForm cat in catProductList)
                        {
                            <option value="@cat.Id">@cat.Name_fr</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Afficher le produit :</label>
                    <button class="@(productToUpdate.IsDeleted ? "btn btn-success" : "btn btn-danger")" @onclick="(() => SoftDelete(productToUpdate.Id))"><i class="@(productToUpdate.IsDeleted ? "fas fa-history" : "fas fa-trash")"></i></button>
                </div>
                @*<div>
                    <button @onclick="() => Delete(productToUpdate.Id)">Supprimer</button>
                </div>*@
                <div class="form-group">
                    <button class="btn btn-outline-success">Modifier</button>
                </div>
            </EditForm>
        </div>
    }

}