﻿@page "/flobette/add"

<style>
    .form-control {
        width: 400px;
    }
</style>

@if (catProductList == null)
{
    <div class="loader-container">
        <Loader></Loader>
    </div>
}
else
{
    <h3>Ajouter un plat</h3>

    <EditForm Model="productCreation" OnValidSubmit="SubmitProductAsync">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="form-group" style="display:flex;">
            <div>
                <InputText class="form-control" @bind-Value="productCreation.Name_fr" placeholder="Nom français"></InputText>
            </div>
            <div class="form-group" style="margin-left:10px;">
                <InputText class="form-control" @bind-Value="productCreation.Name_nl" placeholder="Nom néerlandais"></InputText>
            </div>
            <div class="form-group" style="margin-left:10px;">
                <InputText class="form-control" @bind-Value="productCreation.Name_en" placeholder="Nom anglais"></InputText>
            </div>
        </div>
        <div class="form-group">
            <label>Prix :</label>
            <InputNumber @bind-Value="productCreation.Price"></InputNumber>
        </div>
        <div class="form-group  mt-3">
            <select class="form-control" @bind="productCreation.Category_Id">
                <option value="0">-- Sélectionner une catégorie --</option>
                @foreach (CategoryProductForm cat in catProductList)
                {
                    <option value="@cat.Id">@cat.Name_fr</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-success">Envoyer</button>
        </div>
    </EditForm>
}