﻿@page "/pointinteret/add"

<style>
    .form-control {
        width: 400px;
    }
    .date {
        margin-right: 20px;
    }
</style>

<h3>Ajouter un point d'intérêt</h3>
@if (CategoryList == null)
{
    <div class="loader-container">
        <Loader ></Loader>

    </div>
}
else {

<div>
    <EditForm Model="Poi" OnValidSubmit="SubmitAsync">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="mt-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#frDesc">Français</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                </li>
            </ul>
            <div class="tab-content form-group">
                <div id="frDesc" class=" tab-pane active">
                    <label class="label-control">Nom : </label>
                    <InputText class="form-control" @bind-Value="Poi.Name_fr"></InputText>
                    <label class="label-control">Description :</label>
                    <InputTextArea class="form-control desc_fr" @bind-Value="Poi.Description_fr"></InputTextArea>
                </div>
                <div id="nlDesc" class=" tab-pane fade">
                    <label class="label-control">Nom : </label>
                    <InputText class="form-control " @bind-Value="Poi.Name_nl"></InputText>
                    <label class="label-control">Description :</label>
                    <InputTextArea class="form-control desc_nl" @bind-Value="Poi.Description_nl"></InputTextArea>
                </div>
                <div id="enDesc" class=" tab-pane fade">
                    <label class="label-control">Nom : </label>
                    <InputText class="form-control" @bind-Value="Poi.Name_en"></InputText>
                    <label class="label-control">Description :</label>
                    <InputTextArea class="form-control desc_en" @bind-Value="Poi.Description_en"></InputTextArea>
                </div>
            </div>
        </div>
        <div class="form-group mt-3">
            <select class="form-control" @bind="selectedId">
                <option value="0">-- Sélectionner une catégorie --</option>
                @foreach (CategoryModel cat in CategoryList)
                {
                    <option value="@cat.Id">@cat.Name_fr</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Image:</label>
            <input type="file" id="image" @onchange="OnFileChanged" accept="image/*" hidden/>
            <input type="button" value="Explorer" class="btn btn-outline-info" onclick="document.getElementById('image').click();" />
            @if (Poi.Image != null)
            {
                <input type="button" value="Retirer l'image" class="btn btn-outline-danger" @onclick="DeletePic" />
            }
        </div>
        @if (Poi.Image != null)
        {
            <div class="form-group">
                <img style="width: 500px; height: 500px; object-fit: contain;" src="data:@Poi.mimeType;base64,@Convert.ToBase64String(Poi.Image)" />
            </div>
        }
        <div class="form-group mt-3">
            <label>Date de début :</label>
            <InputDate class="date" @bind-Value="Poi.StartDate"></InputDate>
            <label>Date de fin :</label>
            <InputDate class="date" @bind-Value="Poi.EndDate"></InputDate>
        </div>
        <div class="form-group mt-3">
            <label class="label-control">Latitude : </label>
            <InputNumber class="form-control" @bind-Value="Poi.Latitude"></InputNumber>
            <label class="label-control">Longitude : </label>
            <InputNumber class="form-control" @bind-Value="Poi.Longitude"></InputNumber>
            <label class="label-control">Interval : </label>
            <InputNumber class="form-control" @bind-Value="Poi.Interval"></InputNumber>
        </div>
        <div class="form-group mt-3">
            <button class="btn btn-outline-success">Envoyer</button>
        </div>
    </EditForm>
</div>
}