﻿@page "/pointinteret"

<style>
    .form-control {
        width: 400px;
    }

    .date {
        margin-right: 20px;
    }
</style>

@if (ListPoI == null && AllCategories == null)
{
    <div class="loader-container">
        <Loader></Loader>
    </div>
}
else
{
    <h3>Points d'intérêts</h3>
    <NavLink href="/pointinteret/add">
        <button class="btn btn-outline-info">Ajouter un nouveau point d'intérêt</button>
    </NavLink>

    <h3>Modifier un point d'intérêt</h3>

    <select class="form-control" @bind="selectedId" @onclick="() => SelectCategory(selectedId)">
        <option value="0">-- Sélectionner une catégorie --</option>
        @foreach (var item in AllCategories)
        {
            <option value="@item.Id">@item.Name_fr</option>
        }
    </select>
    @if (selectedId != 0)
    {
        <select class="form-control" @bind="selectedPoi">
            <option></option>
            @foreach (PointOfInterestForm poi in ListPoI.Where(x => x.Category_id == selectedId))
            {
                <option value="@poi.Id">@poi.Name_fr</option>
            }
        </select>
    }
    if (selectedPoi > 0)
    {
        <EditForm Model="ToUpdate" OnValidSubmit="() => Update(ToUpdate)">
            <div class=" mt-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#frDesc">Français</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nlDesc">Néerlandais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#enDesc">Anglais</a>
                    </li>
                </ul>
                <div class="tab-content form-group">
                    <div id="frDesc" class=" tab-pane active">
                        <label class="label-control">Nom : </label>
                        <InputText class="form-control" @bind-Value="ToUpdate.Name_fr"></InputText>
                        <label class="label-control">Description :</label>
                        <textarea id="text_fr" class="form-control desc_fr" @bind="ToUpdate.Description_fr"></textarea>
                    </div>
                    <div id="nlDesc" class=" tab-pane fade">
                        <label class="label-control">Nom : </label>
                        <InputText class="form-control" @bind-Value="ToUpdate.Name_nl"></InputText>
                        <label class="label-control">Description :</label>
                        <textarea id="text_nl" class="form-control desc_nl" @bind="ToUpdate.Description_nl"></textarea>
                    </div>
                    <div id="enDesc" class=" tab-pane fade">
                        <label class="label-control">Nom : </label>
                        <InputText class="form-control" @bind-Value="ToUpdate.Name_en"></InputText>
                        <label class="label-control">Description :</label>
                        <textarea id="text_en" class="form-control desc_en" @bind="ToUpdate.Description_en"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label>Image:</label>
                    <input type="file" id="image" @onchange="OnFileChanged" accept="image/*" hidden />
                    <input type="button" value="Explorer" class="btn btn-outline-info" onclick="document.getElementById('image').click();" />
                    @if (ToUpdate.Image != null)
                    {
                        <input type="button" value="Retirer l'image" class="btn btn-outline-danger" @onclick="DeletePic" />
                    }
                </div>
            </div>
            @if (ToUpdate.Image != null)
            {
                <div class="form-group">
                    <img style="width: 500px; height: 500px; object-fit: contain;" src="data:@ToUpdate.mimeType;base64,@Convert.ToBase64String(ToUpdate.Image)" />
                </div>
            }
            <div class="form-group mt-3">
                <label>Date de début :</label>
                <InputDate class="date" @bind-Value="ToUpdate.StartDate"></InputDate>
                <label>Date de fin :</label>
                <InputDate class="date" @bind-Value="ToUpdate.EndDate"></InputDate>
            </div>
            <div class="form-group  mt-3">
                <select class="form-control" @bind="selectedCategory">
                    @foreach (CategoryModel cat in AllCategories)
                    {
                        <option value="@cat.Id">@cat.Name_fr</option>
                    }
                </select>
            </div>
            <div class="form-group  mt-3">
                <label class="label-control">Latitude : </label>
                <InputNumber class="form-control" @bind-Value="ToUpdate.Latitude"></InputNumber>
                <label class="label-control">Longitude : </label>
                <InputNumber class="form-control" @bind-Value="ToUpdate.Longitude"></InputNumber>
                <label class="label-control">Interval : </label>
                <InputNumber class="form-control" @bind-Value="ToUpdate.Interval"></InputNumber>
            </div>
            <div>
                <label>Afficher le point d'intérêt :</label>
                <button class="@(ToUpdate.IsDeleted ? "btn btn-success" : "btn btn-danger")" @onclick="(() => SoftDelete(ToUpdate.Id))"><i class="@(ToUpdate.IsDeleted ? "fas fa-history" : "fas fa-trash")"></i></button>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-outline-success">Modifier</button>
            </div>
        </EditForm>
    }
}